/* Using the infobox class from Wikipedia's styling */
.infobox {
	border: 1px solid #a2a9b1;
	border-spacing: 3px;
	background-color: #f8f9fa;
	color: black;
	/* @noflip */
	margin: 0.5em 0 0.5em 1em;
	padding: 0.2em;
	font-size: 88%;
	line-height: 1.5em;
	width: 22em;
}
